<body>
  <div class="container-navbar">
    <nav class="navbar navbar-expand-lg  navbar-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="..." target="_blank" rel="noopener noreferrer">
          <img class="logo-play" src="assets/logo-ElisDev.png" width="100" alt="Logo de la pagina web"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Coleccion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Tiendas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Asistencia</a>
            </li>
          </ul>
          <form class="botones d-flex" role="search">

            <button class="btn-Comprar-ahora btn-outline-success " type="submit">Comprar ahora</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  </body>

