<body>
<div class="grid">
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/57/6c/f3/576cf353105754282a15f70f1da65a2f.jpg" alt="Anillo 1">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/e2/6c/e2/e26ce2d0ffa0468e9c74a02fd75e11da.jpg" alt="Anillo 2">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/e3/b9/cb/e3b9cb75ba44ad835856f6b2bb6f0e3c.jpg" alt="Anillo 3">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/3c/ae/ab/3caeab861fe84fab0222bfca2a4d311d.jpg" alt="Anillo 4">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/1f/5e/88/1f5e888a16cc5465bed16b34deefa8b5.jpg" alt=" Anillo 5">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/3d/fc/f0/3dfcf08761be339830f3a074cd13d6f7.jpg" alt="Anillo 6">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/e5/db/5a/e5db5a790ae52ebaedadc6ebda447baa.jpg" alt="Anillo 7">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/f3/c9/02/f3c902b2fbd91afbe40a596e7945ff40.jpg" alt="Anillo 8">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/b1/f1/ae/b1f1ae762e978ec49fb1b376102e3e38.jpg" alt="Anillo 9">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/98/b8/c4/98b8c430863c390ff7ef101d32c6bf23.jpg" alt="Anillo 10">
  </div>
</div>

<div class="grid">
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/db/41/fa/db41fa89ab49c0e1ca99fffc75967eae.jpg" alt=" Anillo 11">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/91/bb/47/91bb475c3ea60c14efbb7d4442ea681d.jpg" alt="Anillo 12">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/c7/fd/40/c7fd407175e392cced4df2628bceb9ce.jpg" alt="Anillo 13">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/e6/e1/00/e6e100a687cc9c659c1dbd7325569bee.jpg" alt="Anillo 14">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/34/69/ea/3469eaa43ca73da94e0a6de95a91a62e.jpg" alt="Anillo 15">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/45/8c/cf/458ccfc31ecc9e998b84ec23dbdbf2dd.jpg" alt="Anillo 16">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/6a/8f/3a/6a8f3a4a59dcf7d2fbf4526b5cc1715b.jpg" alt="Anillo 17">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/6b/21/b5/6b21b51fefb933b2b48debb352e6f2a3.jpg" alt="Anillo 18">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/de/de/96/dede96725978abc875e50aa8d636ffb8.jpg" alt="Anillo 19">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/ef/7c/30/ef7c30d5c14e183f33cb6b613141d593.jpg" alt="Anillo 20">
  </div>
</div>

<div class="grid">
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/ed/d2/b1/edd2b1c4b29ceb1a5ad2798ebb277518.jpg" alt="Anillo 21">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/7c/8c/93/7c8c9302465dd09ad98985fb4b9dba96.jpg" alt="Anillo 22">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/fc/0a/03/fc0a031541f351dccafea5e85a92ae39.png" alt="anillo 23">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/c4/2b/ee/c42beef138b3d42a26b544bcf41b0758.jpg" alt="Anillo 24">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/d7/10/17/d7101791083bbfc10f5927fee80fd55a.jpg" alt="Anillo 25">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/29/e2/d6/29e2d605aafee0803d700bcefdd04918.jpg" alt="Anillo 26">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/93/83/c8/9383c8e7daccdb5c0995953ce8019ae4.png" alt="Anillo 27">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/42/bf/b2/42bfb21ec4c2b9855a8b0a290e1d5039.jpg" alt="Anillo 28">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/13/7d/6d/137d6d5c4c553ffb4089056987559f99.jpg" alt="Anillo 29">
  </div>
  <div class="grid-item">
    <h1>ElisDev</h1>
    <div class="overlay"></div>
    <img src="https://i.pinimg.com/originals/cb/91/d9/cb91d9632f5fc819c65344a884b34ec0.png" alt="Anillo 30">
  </div>
</div>
</body>
<!--hola-->
